extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Jessica Salome
  - let results=[{mobile_brand:"apple",mobile_color:"Gold",mobile_cost:"15000"},{mobile_brand:"Samsung",mobile_color:"Red",mobile_cost:"17500"},{mobile_brand:"Motorola",mobile_color:"Grey",mobile_cost:"21434"}]
  div(class="container-fluid")
    div(class="row")
      each mobiles, index in results
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{mobiles.mobile_brand} - #{mobiles.mobile_color} - $#{mobiles.mobile_cost}
  
  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }